
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.header-bg{
    background-image: url("/header_img.png");
    background-size: cover;
    position: relative;
}
.fade-in{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}